---
name: build changed spec files
on:
  pull_request:
    paths:
      - "*/*.spec"
permissions:
  contents: read
  pull-requests: read
concurrency:
  # yamllint disable-line rule:line-length
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
env:
  FEDORA_VERSIONS: "42 43"
jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      has-changes: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: changed spec files
        id: changed-files
        # https://www.stepsecurity.io/blog/harden-runner-detection-tj-actions-changed-files-action-is-compromised
        # yamllint disable-line rule:line-length
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46
        with:
          files: |
            **/*.spec
      - name: Set matrix output
        id: set-matrix
        run: |
          files='${{ steps.changed-files.outputs.all_changed_files }}'
          include_array='[]'

          if [ -n "$files" ]; then
            for file in $files; do
              os="ubuntu-24.04"
              if [[ "$file" == *aarch64.spec ]] || [[ "$file" == *arm.spec ]]; then
                os="ubuntu-24.04-arm"
              fi

              for fv in $FEDORA_VERSIONS; do
                include_array=$(echo "$include_array" | jq -c \
                  --arg spec "$file" \
                  --arg os "$os" \
                  --arg fv "$fv" \
                  '. += [{"spec-file": $spec, "os": $os, "fedora-version": $fv}]')
              done
            done
          fi

          matrix_json=$(jq -cn --argjson inc "$include_array" '{"include": $inc}')
          echo "matrix=$matrix_json" >> "$GITHUB_OUTPUT"
  build-spec:
    name: build ${{ matrix.spec-file }} (F${{ matrix.fedora-version }})
    needs: detect-changes
    if: needs.detect-changes.outputs.has-changes == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{ fromJson(needs.detect-changes.outputs.matrix) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: dagger build ${{ matrix.spec-file }} (F${{ matrix.fedora-version }})
        # yamllint disable-line rule:line-length
        uses: dagger/dagger-for-github@b81317a976cb7f7125469707321849737cd1b3bc # v7
        with:
          version: "latest"
          verb: call
          # yamllint disable-line rule:line-length
          args: build-spec-file --spec-file "${{ matrix.spec-file }}" --fedora-version "${{ matrix.fedora-version }}"
