---
name: build changed spec files
on:
  pull_request:
    paths:
      - "*/*.spec"
permissions:
  contents: read
  pull-requests: read
jobs:
  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      has-changes: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
      - name: changed spec files
        id: changed-files
        # https://www.stepsecurity.io/blog/harden-runner-detection-tj-actions-changed-files-action-is-compromised
        # yamllint disable-line rule:line-length
        uses: step-security/changed-files@95b56dadb92a30ca9036f16423fd3c088a71ee94 # v46
        with:
          files: |
            **/*.spec
      - name: Set matrix output
        id: set-matrix
        # yamllint disable rule:line-length
        run: |
          files="${{ steps.changed-files.outputs.all_changed_files }}"
          json_include="[]"
          if [ -n "$files" ]; then
            json_include="["
            for file in $files; do
              os="ubuntu-24.04"
              if [[ "$file" == *aarch64.spec ]] || [[ "$file" == *arm.spec ]]; then
                os="ubuntu-24.04-arm"
              fi
              json_include+=$(printf '{"spec-file":"%s","os":"%s"},' "$file" "$os")
            done
            json_include="${json_include%,}]"
          fi
          echo "matrix={\"include\":$json_include}" >> "$GITHUB_OUTPUT"
        # yamllint enable rule:line-length
  build-spec:
    needs: detect-changes
    if: needs.detect-changes.outputs.has-changes == 'true'
    runs-on: ${{ matrix.os }}
    strategy:
      matrix: ${{ fromJson(needs.detect-changes.outputs.matrix) }}
      fail-fast: false
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: dagger build ${{ matrix.spec-file }}
        # yamllint disable-line rule:line-length
        uses: dagger/dagger-for-github@b81317a976cb7f7125469707321849737cd1b3bc # v7
        with:
          version: "latest"
          verb: call
          args: build-spec-file --spec-file "${{ matrix.spec-file }}"
