---
name: renovate-config-validator
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/renovate.json5
      - .github/workflows/renovate-config-validator.yaml
  push:
    branches:
      - main
    paths:
      - .github/renovate.json5
  workflow_dispatch:
permissions:
  contents: read
jobs:
  validate_renovate_config:
    name: Validate Renovate Config
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        config:
          - .github/renovate.json5
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        # yamllint disable-line rule:line-length
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"
      # yamllint disable-line rule:line-length
      - uses: suzuki-shunsuke/github-action-renovate-config-validator@ee9f69e1f683ed0d08225086482b34fc9abe9300 # v2.1.0
        with:
          config_file_path: ${{ matrix.config }}
